<!DOCTYPE html>
<html lang="en">
  {{> head }}
<body id="body">
  <main>
    <div class="title">Test Frame</div>
    <div>
      <img src="{{ canvasUrl imgData }}" alt="Canvas Image">
    </div>
  </main>
</body>

</html>